@use "../variables" as *;

.exercice-container,
.exercice-grid {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  scrollbar-width: none; // Firefox
  &::-webkit-scrollbar {
    display: none; // Chrome, Safari, Edge
  }
}
