@use "../variables" as *;

.playlist-page-container {
  display: flex;
  flex-direction: column;
  gap: $padding5;
  align-items: center;
  padding: $padding6;
  box-sizing: border-box;
}

.input-heading {
  all: unset;
  background-color: transparent;
  font: $heading-font;
  color: $highlight;
  width: min-content;
  box-sizing: border-box;
}

.playlist-infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-heading:focus {
  outline: 0.1rem solid $text;
}

.playlist-difficulty {
  display: flex;
  gap: $padding1;
}

#difficulty-menu {
  background-color: transparent;
  font: $paragraph-font;
  color: $highlight;
  border: none;
  outline: none;
  transition: $transition1;
}

#difficulty-menu:hover {
  background-color: $bg-color2;
}

#difficulty-menu option {
  background-color: transparent;
  background-color: $bg-color;
}

.playlist-import-button {
  background-color: transparent !important;
}

.playlist-modules {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: $padding3;
}

.new-module-button {
  width: 20rem;
  height: 20rem;
  border: 1px solid white;
  border-radius: $border-radius2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-module-button svg {
  width: 10rem;
  height: 10rem;
  fill: $text;
}

.module-preview {
  width: 20rem;
  height: 20rem;
  border-radius: $border-radius2;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.module-preview-image {
  width: 20rem;
  height: 10rem;
  background-color: $bg-sec;
}

.module-preview-infos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex: 1;
  padding: $padding1;
}

.module-preview-title-author {
  display: flex;
  flex-direction: column;
}

.module-preview-key-bpm {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.module-preview-title {
  font: $small-font;
  font-size: $text-sm;
  color: $accent;
}

.module-preview-author {
  font: $small-font;
  font-size: $text-xxs !important;
  color: $text;
  opacity: $opacity1;
}

.module-preview-key {
  font: $small-font;
  font-size: $text-xxs !important;
  color: $text;
  opacity: $opacity1;
}

.module-preview-bpm {
  font: $small-font;
  font-size: $text-xxs !important;
  color: $text;
  opacity: $opacity1;
}

.playlist-title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.playlist-update-title-message {
  font: $small-font;
  height: $small-font;
}

.playlist-infos-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.playlist-infos-container .success,
.playlist-infos-container .error {
  font: $small-font;
}
