@use "../../variables" as *;

.import-backgroundScreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.import-modal {
  min-width: 800px;
  min-height: 300px;
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: $border1;
  padding: $padding1;
  text-align: center;
  font: $small-font;
  color: $text;
  transition: $transition1;

  .small {
    opacity: $opacity1;
    font-size: $text-xs;
  }
}

.import-modal.dragover {
  border-color: $highlight;
}

.import-modal:hover {
  border-color: $accent;
}

.urlInputContainer {
  display: flex;
  gap: $padding1;
}
