@use "../../variables" as *;

.knob {
  border-radius: 100%;
  width: 3rem !important;
  height: 3rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity $transition-lenght1;
  opacity: 0.5;

  svg {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: $highlight;
    stroke-width: 0.8rem;
  }
}

.knob:hover,
.knob.selected {
  opacity: 1;
}
