@use "../../variables" as *;

.header-navbar {
  display: flex;
  gap: $padding1;
}

.header-navbar div {
  font: $medium-default-font;
  cursor: pointer;
  color: $text;
  opacity: $opacity1;
  transition: $transition1;
}
