@import url("https://fonts.googleapis.com/css2?family=Slabo+13px&family=Ultra&display=swap");
// sizes unit

@font-face {
  font-family: "Bravura";
  src: url("https://cdn.jsdelivr.net/npm/@vexflow-fonts/bravura@1.0.2/bravura.woff2")
    format("woff2");
  font-weight: 900;
  font-style: normal;
}

$text-xxxs: 1rem;
$text-xxs: 1.6rem;
$text-xs: 1.8rem;
$text-sm: 2.4rem;
$text-md: 3.2rem;
$text-lg: 4.8rem;
$text-xl: 6rem;
$text-2xl: 24rem;
$text-3xl: 32rem;

//padding

$padding1: 1rem;
$padding2: 1.5rem;
$padding3: 2.4rem;
$padding4: 3.2rem;
$padding5: 4.8rem;
$padding6: 6rem;

// border radius

$border-radius1: 1rem;
$border-radius2: 1.6rem;

// opacities

$opacity1: 0.5;
$opacity2: 0.3;
$opacity3: 0.1;
$opacity4: 0.07;
$opacity5: 0.05;
// colors

$bg-color: #001524;
$bg-color2: #031f34;
$bg-sec: #15616d;
$accent: #ffe5c1;
$highlight: #ff7d00;
$warm: #78290f;
$warm1: #9e200f;
$text: rgb(255, 251, 243);
$text-opacity: rgba(255, 251, 243, $opacity1);
$text-opacity2: rgba(255, 251, 243, $opacity2);
$text-opacity3: rgba(255, 251, 243, $opacity3);
$text-opacity4: rgba(255, 251, 243, $opacity4);
$text-opacity5: rgba(255, 251, 243, $opacity5);
$success: green;

// borders:

$border1: 0.1rem solid $text;

// fonts

$primary-font: "Ultra";
$secondary-font: "Slabo 13px";
$musical-font: "Bravura";

$logo-font: italic normal $text-md $primary-font;
$heading-font: normal bolder $text-xl $secondary-font;
$medium-default-font: normal normal $text-md $secondary-font;
$paragraph-font: normal normal $text-sm $secondary-font;
$small-font: normal lighter $text-xs $secondary-font;
$medium-musical-font: normal normal $musical-font;

//transitions

$transition1: all 0.2s cubic-bezier(0.94, -0.01, 0.99, 0.04);

$transition-lenght1: 0.2s cubic-bezier(0.94, -0.01, 0.99, 0.04);
// global

:root {
  font-size: 8px;
}

* {
  box-sizing: border-box;
}

::selection {
  background: $accent;
  color: $bg-color;
}

html {
  background-color: black;
}

html:not(:has(.exercice-container)) {
  overflow-y: scroll;
}

html:has(.exercice-container) {
  overflow: hidden;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

body,
body::-webkit-scrollbar {
  background: repeating-linear-gradient(to bottom, $bg-color 0px, $warm 2000px, $bg-color 4000px);
}

body::-webkit-scrollbar {
  width: $padding2;
}

body::-webkit-scrollbar-thumb {
  background-color: $bg-color2;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: $accent;
}

#app {
  width: 100%;
  height: 100%;
}

// text styles

h1 {
  margin: 0px;
}

.logo {
  font: $logo-font;
  color: $accent;
  cursor: pointer;
}

.secondary {
  opacity: $opacity1;
  color: $text;
}

.accent {
  color: $accent !important;
  opacity: 1 !important;
}

.highlight {
  color: $highlight;
}

.heading-logolike {
  color: $text;
  font: $logo-font;
  font-size: $text-xl;
}

.heading {
  font: $heading-font;
  color: $text;
}

.paragraph {
  font: $paragraph-font;
  color: $text;
}

button {
  background-color: $bg-sec;
  border: none;
  color: $text;
  font: $paragraph-font;
  padding: $padding1 $padding3;
  border-radius: $border-radius1;
}

.button1 {
  background-color: transparent;
  font: $small-font;
  font-size: $text-xxs;
  border: $border1;
  padding: 0 $padding1;
  transition: $transition1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $text;
  cursor: pointer;

  svg {
    fill: $text;
  }
}

.button1:hover,
.button1.selected {
  background-color: $accent;
  border-color: $accent;
  color: $bg-color;
  svg {
    fill: $bg-color;
  }
}

.input1 {
  font: $small-font;
  border: $border1;
  outline: none;
  background-color: transparent;
  color: $accent;
}

.spinner {
  border-color: $text;
  border-style: solid;
  opacity: $opacity1;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.success {
  color: $success;
}
.error {
  color: $warm;
}
