@use "../../variables" as *;

.chord-grid-header {
  height: 30px;
  background-color: $bg-color;
}

.chord-grid-container {
  height: calc(100% - 30px);
  padding: $padding2;
  padding-top: 5rem;
  background-color: $bg-color;
  width: 100%;
  font-size: $text-md;
  color: $text;
  display: grid;
  row-gap: 10rem;
  // display: flex;
  // flex-wrap: wrap;
  overflow: scroll;
  box-sizing: border-box;
}

.chord-grid-measure-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: $text-md;
  position: relative;
}

.chord-grid-measure-box div {
  height: 100%;

  font: $medium-default-font;
  line-height: 1;
}

.chord-grid-container > * {
  overflow: visible;
  white-space: nowrap;
}

.end-bar,
.start-bar {
  width: 0;
  display: flex;
  justify-content: flex-end;
  font-family: $musical-font !important;
  line-height: 2 !important;
}

.musical {
  // line-height: 1;
  line-height: 0.5 !important;
  font-family: $musical-font !important;
  font-size: $text-lg !important;
}

.end-bar {
  order: 999;
}

.start-bar {
  order: -1;
}

.annotation {
  position: absolute;
  top: calc(-100% - $padding1);
  height: 100%;
}

.comment {
  position: absolute;
  top: calc(100% + $padding1);
  height: 100%;
}

.part-annotation {
  outline: $border1;
  outline-offset: 0;
  padding: $padding1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.repeat-annotation {
  width: 100%;
  height: 100%;
  border-top: $border1;
  border-left: $border1;
}

.unk-annotation {
  padding: $padding1;
  font-size: $text-sm !important;
}

.box-is-in-current-measure {
  background-color: $accent;
}
.box-is-in-current-measure > div:not(.annotation, .comment) {
  color: $bg-color;
}

.chord-grid-container::-webkit-scrollbar,
.chord-grid-container::-webkit-scrollbar-corner {
  background-color: $bg-color;
  width: 10px;
  height: 10px;
}

.chord-grid-container::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.5);
  border: 3px solid transparent;
  background-clip: content-box;
}

.chord-grid-container::-webkit-scrollbar-thumb:hover {
  background: $accent;
  border: 1px solid transparent;
  background-clip: content-box;
}
