<div class="import-backgroundScreen">
  <div class="import-modal">
    <div>
      <p>Drag and drop a file here or click to select</p>
      <p class="small">Accepted files: ireal.html</p>
    </div>

    <div>
      <div class="urlInputContainer">
        <span>Or simply paste the url of the ireal file ;)</span>
        <input class="input1" type="text" placeholder="irealb://9%2E20%2..." id="urlInput" />
      </div>
      <a
        class="browse-link"
        href="https://www.irealb.com/forums/forum.php"
        onclick="window.open(this.href, 'popup', 'width=800,height=600'); return false;"
      >
        Browse on the ireal forum
      </a>
    </div>

    <div></div>
  </div>
</div>
